In [6]:
import pandas as pd
import zipfile
import requests
from   pathlib import Path

# url para hacer request
# https://figshare.com/ndownloader/articles/19105049/versions/1

In [7]:
current_dir: Path = Path(__file__).parent

NameError: name '__file__' is not defined

In [ ]:
url = "https://figshare.com/ndownloader/articles/19105049/versions/1"
ruta_destino: Path = current_dir

response = requests.get(url)

with open(ruta_destino, "wb") as archivo:
    archivo.write(response.content)

# with open("datos.csv", "wb") as f:
    # f.write(response.content)

In [ ]:
data = pd.read_csv('nit_by_flora.csv')
data = data.drop(['DOI', 'Repetitions', 'Experimental.design', 'Paper', 'W_CV', 'W_LSD', 'W_SE_min', 'W_SE_Max', 'Row_Space', 'Water_applied', 'Sampling_time', 'Observation',
                  'Nobs%', 'Npred%', 'Nconc_LSD', 'Nupt_kg_ha', 'Nconc_SE_min', 'Nconc_SE_Max', 'Nupt_SE_min', 'Nupt_SE_Max', 'W_ton_ha'], axis=1)
data['Year'] = data['Year'].str.replace('Autumn ', '')
data['Year'] = data['Year'].str.replace('Early spring ', '')
data['Year'] = data['Year'].str.replace('Summer ', '')
data['Year'] = data['Year'].str.replace('Late spring ', '')
data['Year'] = data['Year'].str.split(' - ').str[0]
data['Year'] = data['Year'].str.split('-2').str[0]
data['Year'] = data['Year'].str.split('/ ').str[0]
data['Year'] = data['Year'].str.replace('/2007', '')

data = data.dropna(subset=['Year'])
data = data.dropna(subset=['Country'])
data = data.dropna(subset=['Treatment'])

data['Treatment'] = data['Treatment'].str.strip()
data['Water'] = data['Water'].fillna('No irrigation data')
data['Harvest_Date'] = data['Harvest_Date'].fillna('No harvest date data')
data['Sowing.Date'] = data['Sowing.Date'].fillna('No sowing date data')
data['Genotype'] = data['Genotype'].fillna('No genotype data')

display(data)

,Id,Species,Year,Country,Sites,Treatment,Nrates_kg_ha,Sowing.Date,Harvest_Date,Water,Genotype
0,1,Annual ryegrass,1994,Argentina,Tandil,N0,0,3-Mar,No harvest date data,No irrigation data,Grasslands Tama
1,1,Annual ryegrass,1994,Argentina,Tandil,N1,50,3-Mar,No harvest date data,No irrigation data,Grasslands Tama
2,1,Annual ryegrass,1994,Argentina,Tandil,N2,100,3-Mar,No harvest date data,No irrigation data,Grasslands Tama
3,1,Annual ryegrass,1994,Argentina,Tandil,N3,150,3-Mar,No harvest date data,No irrigation data,Grasslands Tama
4,1,Annual ryegrass,1994,Argentina,Tandil,N4,200,3-Mar,No harvest date data,No irrigation data,Grasslands Tama
...,...,...,...,...,...,...,...,...,...,...,...
4449,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N225,225,18 of May,No harvest date data,No irrigation data,Heckla
4450,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N225,225,18 of May,No harvest date data,No irrigation data,Heckla
4451,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N375,375,18 of May,No harvest date data,No irrigation data,Heckla
4452,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N375,375,18 of May,No harvest date data,No irrigation data,Heckla
4453,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N375,375,18 of May,No harvest date data,No irrigation data,Heckla

In [ ]:
data_csv = data.to_csv("nit_by_flora_ed.csv", index=False)

In [ ]:
data.isna().any()

Id              False
Species         False
Year            False
Country         False
Sites           False
Treatment       False
Nrates_kg_ha    False
Sowing.Date     False
Harvest_Date    False
Water           False
Genotype        False
dtype: bool